<h2>Liste des formations du formation.departement</h2>
{% for formation in ensFormation %}
<table cellspacing="3" bgcolor="#000000">
    <tr bgcolor="#ffffff">
        <th>date debut</th>
        <th>nombre heures</th>
        <th>departement</th>
        <th>difficulte</th>
        <th>departement</th>
        
       
    </tr>
    <tr bgcolor="#ffffff">
        <td>{{ formation.dateDebut |date('d-m-Y') }}</td>
        <td>{{ formation.nbHeure }}</td>
        <td>{{ formation.departement }}</td>
        <td>{{ formation.difficulte }}</td>
        <td>{{ formation.leproduit.libelle }}</td>
       
    </tr>
</table>
<br>



{% endfor %}
 <td><a href ="{{path('app_affEmploye')}}">voir toutes les formations</a></td>